@reference "./tailwind.css";
/**
 * CSS Styles for code highlighting.
 * Feel free to customize token styles 
 * by copying from a prismjs compatible theme:
 * https://github.com/PrismJS/prism-themes
 */

/* Code title styles */
.remark-code-title {
  @apply rounded-t-lg border border-b-0 bg-muted px-5 py-3 text-xs;
}

.remark-code-title + div > pre {
  @apply mt-0 rounded-t-none;
}

/* Code block styles */
.code-highlight {
  @apply float-left min-w-full;
}

.code-line {
  @apply -mx-4 block border-transparent px-6 py-[2px];
}

.code-line.inserted {
  @apply bg-green-500 opacity-20;
}

.code-line.deleted {
  @apply bg-destructive opacity-20;
}

.highlight-line {
  @apply -mx-4 bg-[#fff8c5] dark:bg-[#2f2a1e];
}

.line-number::before {
  @apply mr-8 inline-block w-4 text-right text-muted-foreground/70;
  content: attr(line);
}

code[class*='language-'] {
  @apply text-primary;
}

pre[class*='language-'],
code[class*='language-'] {
  font-size: 12px;
  text-shadow: none;
  font-family: ui-monospace, SFMono-Regular, 'SF Mono', Menlo, Consolas,
    'Liberation Mono', monospace;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  line-height: 1.5;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  padding: 4px;
}
pre[class*='language-']::selection,
code[class*='language-']::selection {
  @apply bg-[#9fc6e9] shadow-none dark:bg-[#234879];
}
@media print {
  pre[class*='language-'],
  code[class*='language-'] {
    text-shadow: none;
  }
}
pre[class*='language-'] {
  @apply my-[0.5em] overflow-auto bg-card p-[1em];
}

:not(pre) > code[class*='language-'] {
  @apply rounded-[0.3em] bg-[#eff1f3] px-[0.3em] py-[0.1em] text-[#24292f] dark:bg-[#343942] dark:text-[#c9d1d9];
}
/* Line highlighting */
pre[data-line] {
  position: relative;
}
pre[class*='language-'] > code[class*='language-'] {
  position: relative;
  z-index: 1;
}
.line-highlight {
  @apply pointer-events-none absolute left-0 right-0 z-0 mt-4 whitespace-pre bg-[#fff8c5] dark:bg-[#2f2a1e];
}
/* .line-highlight {
  position: absolute;
  left: 0;
  right: 0;
  padding: inherit 0;
  margin-top: 1em;
  background: #fff8c5;
  box-shadow: inset 5px 0 0 #eed888;
  z-index: 0;
  pointer-events: none;
  line-height: inherit;
  white-space: pre;
} */
/* Tokens */
.namespace {
  opacity: 0.7;
}
.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  @apply text-[#6e7781] dark:text-[#8b949e];
}
.token.punctuation {
  @apply text-[#24292f] dark:text-[#79c0ff];
}
.token.tag {
  @apply text-[#116329] dark:text-[#7ee787];
}
.token.property,
.token.attr-name {
  @apply text-[#0550ae] dark:text-[#79c0ff];
}
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
  @apply text-[#0550ae] dark:text-[#79c0ff];
}
.token.selector,
.token.script,
.token.string {
  @apply dark:text-[#a5d6ff];
}
.token.char,
.token.builtin,
.token.inserted {
  @apply text-[#0a3069] dark:text-[#a5d6ff];
}
.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  @apply text-[#0550ae] dark:text-[#a5d6ff];
}
.token.atrule,
.token.attr-value {
  @apply text-[#0a3069] dark:text-[#a5d6ff];
}
.token.function {
  @apply text-[#8250df] dark:text-[#d2a8ff];
}
.token.regex,
.token.important,
.token.variable {
  @apply text-[#0a3069] dark:text-[#a8daff];
}
.token.important,
.token.bold {
  font-weight: bold;
}
.token.italic {
  font-style: italic;
}
.token.entity {
  cursor: help;
}
.token.imports {
  @apply text-[#953800] dark:text-[#ffa657];
}

.token.plain-text {
  @apply text-gray-900 dark:text-gray-100;
}

.token.maybe-class-name {
  @apply text-[#953800] dark:text-[#ffa657];
}
.token.class-name {
  @apply text-[#953800] dark:text-[#ffa657];
}
.token.keyword {
  @apply text-[#cf222e] dark:text-[#ff7b72];
}
.token.keyword.nil {
  @apply text-[#0550ae] dark:text-[#79c0ff];
}
