@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .border,
  .border-2,
  .border-r,
  .border-l,
  .border-t,
  .border-b,
  .border-x,
  .border-y {
      @apply dark:border-gray-800;
  }
}

.task-list-item::before {
  @apply hidden;
}

.task-list-item {
  @apply list-none;
}

.footnotes {
  @apply pt-8 mt-12 border-t border-gray-200 dark:border-gray-700;
}

.csl-entry {
  @apply my-5;
}

/* https://stackoverflow.com/questions/61083813/how-to-avoid-internal-autofill-selected-style-to-be-applied */
input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}

.projectImageGrid {
  @apply grid grid-cols-2 py-8 -m-2 sm:grid-cols-4;
}

.imageProp {
  @apply px-1 py-1 overflow-hidden transform transition duration-500 sm:hover:scale-110 ease-in-out;
}

.keyTakeaways {
  @apply text-[#171717] dark:text-[#f5f5f5];
}

.metricHeader {
  @apply font-semibold text-4xl sm:text-5xl;
}

.buttonStyle {
  @apply rounded-md border-2 py-[8px] px-3 sm:py-[10px] text-sm sm:text-base sm:px-4 font-medium md:hover:bg-gray-200 md:dark:hover:border-gray-700 md:dark:hover:bg-gray-700 md:dark:hover:text-white;
}

.my-masonry-grid {
  display: flex;
  width: auto;
  margin: -10px; /* gutter size offset */
}
.my-masonry-grid_column {
  padding: 10px; /* gutter size */
  background-clip: padding-box;
}

/* Style your items */
.my-masonry-grid_column > div { /* change div to reference your elements you put in <Masonry> */
  margin-bottom: 20px;
}