@tailwind base;
@tailwind components;
@tailwind utilities;

/* https://stackoverflow.com/questions/61083813/how-to-avoid-internal-autofill-selected-style-to-be-applied */
input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition:
    background-color 600000s 0s,
    color 600000s 0s;
}

.projectImageGrid {
  @apply grid grid-cols-2 gap-3 pb-4 sm:grid-cols-4;
}

.keyTakeaways {
  @apply text-[#171717] dark:text-[#f5f5f5];
}

.metricHeader {
  @apply text-4xl font-semibold md:text-5xl;
}

.buttonStyle {
  @apply h-9 rounded-md border border-gray-200 bg-[#f2f2f2] px-3 text-[13px] font-medium text-gray-900 active:border-gray-300 active:bg-[#ebebeb] dark:border-gray-700 dark:bg-[#121212] dark:text-gray-100 active:dark:border-gray-600 active:dark:bg-[#191919] md:hover:border-gray-300 md:hover:bg-[#ebebeb] md:hover:dark:border-gray-600 md:hover:dark:bg-[#191919];
}

.linkStyle {
  @apply flex items-center justify-center rounded-md border border-gray-200 bg-[#f2f2f2] px-3 py-[10px] text-[13px] font-medium leading-none text-gray-900 active:border-gray-300 active:bg-[#ebebeb] dark:border-gray-700 dark:bg-[#121212] dark:text-gray-100 active:dark:border-gray-600 active:dark:bg-[#191919] md:hover:border-gray-300 md:hover:bg-[#ebebeb] md:hover:dark:border-gray-600 md:hover:dark:bg-[#191919];
}

.cardStyle {
  @apply flex cursor-pointer flex-col items-center gap-y-4 rounded-xl p-6 dark:text-gray-100 md:hover:rounded-xl md:hover:bg-[#f2f2f2] md:hover:dark:bg-[#121212];
}

/* to see list of all values, go to the React Masonry CSS link above */
.my-masonry-grid {
  display: flex;
  width: auto;
  margin: -10px; /* gutter size offset */
}
.my-masonry-grid_column {
  padding: 10px; /* gutter size */
  background-clip: padding-box;
}

/* style items */
.my-masonry-grid_column > div {
  /* change div to reference elements in <Masonry> */
  margin-bottom: 20px;
}
